.main-2{
    width: 100%;
    height: 745.5px;
    background: url(img/甘雨大背景.jpg) no-repeat;
    background-size: 100% 100%;
}
.main-2{
    position: relative;
    height: 745.5px;
}
@keyframes top{
    0%{
        margin-top: 800px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.part-1{
    background-color: transparent;
    display: flex;
    width: 60%;
    height: 685px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 290px;
    float: left;
    margin-top: 800px;
    transition: all 1s;
    animation: top 1s ease-out forwards;
}
.head ul a:nth-child(2) li{
    color: #fff;
    background-color: rgba(116, 178, 202, .7);
}
.part-1 div{
    width: 560px;
    background-color: rgba(166, 195 ,245 , .7);
    border-radius: 36px;
    transition: all .5s;
    overflow: hidden;
}
.part-1 div img{
    float: left;
    border-bottom-left-radius: 22%;
    border-top-left-radius: 10%;
    transition: all .5s;
}
h2{
    text-align: center;
}
.part-1 div p{
    text-indent: 2em;
}
.part-1 div:hover{
    transform: scale(1.03);
    box-shadow: -1px 1px 8px 2px rgba(44, 48, 53,.9);
}
.part-1 div img:hover{
    transform: scale(1.1);
}
.part-2{
    /* border-left: 1px solid black; */
    background-color: transparent;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    margin-top: 60px;
    transition: all 1s;
    animation: op 1s 1.5s ease-out forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode;i */
}
.part-2>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    /* border-bottom: 1px solid black; */
}
.part-2>div:nth-child(2){
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.part-2 h2{
    margin-top: 10px;
}
.part-2 div div img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.part-2 li{
    float: left;
    background-color: skyblue;
    margin: 22px 5px;
    padding: 0px 25px;
    border-radius: 10px;
}